<style type ="text/css">  
body 
	{
	}
#header
	{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%; 
	font-family: georgia; 
	font-size: 24px;
	font-weight: bold;
	color: blue; 
	background-color: #d3d3d3;
	word-spacing: 2em;
	letter-spacing: 1.6em;
	text-align: center;
	}  
#pd
	{	
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	}
.info
	{
	color: #8b0000; 
	letter-spacing: 1.6em;
	font-family: georgia;
	font-size: 18px;
	}
</style> 